* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    justify-content: space-between;
    background-color: #1f0d0d;
}

.container ul {
    display: flex;
    list-style: none;
    padding: 15px;
    

}
.container ul li {
    display: flex;
    color: aliceblue;
    padding: 10px;
    margin-right: 20px;
    border: 1px solid #1f0d0d;
    text-transform: uppercase;
}

.container ul li:hover {
    border: 1px solid #02B6A2;
    border-radius: 5px;
    color: #02B6A2;
}

.content {
    height: 600px;
    background-image: url(img/footer.jpg);
    padding: 250px 250px 0px 100px;
    background-size: cover;
}

.join-intro {
    display: flex;
    margin-top: 30px;
    width: 20%;
    justify-content: space-between;
}
.intro-ct {
    display: flex;
    font-size: 18px;
    color: aliceblue;margin-top: 30px;
    width: 50%;
    line-height: 30px;
}
.join-intro button {
    padding: 10px 20px;
    border: 3px solid white;
    border-radius: 5px;
    background: none;
    color: white;
    text-transform: uppercase;
}
.join-intro button:hover {
    background-color: #02B6A2;
    transition: all 0.4s ease;
    transform: scale(1.1);
}
.modest {
    padding: 30px 19%;
    border-bottom: 1px solid #E3E6E6;
}
.modest-inf {
    display: flex;
    justify-content: space-between;  
}

.modest-left p{
    margin-right: 50px;
    padding-top: 30px;
    line-height: 30px;
}

.modest-left i {
    font-size: 40px;
    margin-top: 30px;
    color: #5d5555;
}
.avt-social i:hover {
    color: black;
    transform: scale(1.2);
    transition: all 0.4s ease;
}

.modest-right {
    padding-top: 30px;
}

.modest-right-1st , .modest-right-2nd, .modest-right-3rd {
    display: flex;
    margin-bottom: 30px;
    line-height: 30px;
}

.modest-right i {
    padding: 10px ;
    border: 2px solid black;
    margin-right: 10px;
    text-align: center;
    font-size: 100%;

}

.meet-team {
    padding: 30px 19%;
}

.meet-team-inf {
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.meet-team-inf img {
    width: 270px;
    height: 300px;
}

.picture-team {
    background-color: #E3E6E6;
}
.inf-people {
    text-align: center;
    padding: 15px 0;
}

.inf-people h1 {
    font-size: 17px;
}
.picture-team {
    position: relative;
    overflow: hidden;
    transition: all 0.4s ease;
}
.picture-team:hover {
    transform: scale(1.05);
}
.about-list-team {
    display: flex;
    gap: 10px;
    position: absolute;
    height: 0;
    bottom: 0;
    justify-content: center;
    left: 0;
    right: 0;
    font-size: 40px;
    transition: all 0.4s ease;
}

.picture-team:hover .about-list-team{
    height: 35%;
}
.about-list-team a {
    text-decoration: none;
    color: white;
}

.Lovely-working {
    margin-top: 20px;
    padding: 30px 19%;
    background-color: #3B474E;
}

.lovely-inf {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: space-between;
}

.picture-lovely {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.picture-lovely-hover { 
    position: absolute;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    top: -270px;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease;
}

.picture-lovely:hover .picture-lovely-hover {
     
    top: 0;
}
.plus {
    width: 100%;
    height: calc(100% - 45px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.picture-lovely-hover i{
    color: white;
    text-align: center;
    font-size: 30px;
    
}

.inf-hover {
    background-color: #E3E6E6;
    text-transform: uppercase;
    color: white;
    line-height: 45px;
}

.what-we-do {
    margin: 20px 0;
    padding: 30px 19%;
}

.what-we-do-content {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
}

.what-we-do-content-inf {
    display: flex;
    flex-wrap: wrap;
    width: calc((100% - 90px) / 4);
    text-align: center;
    line-height: 22px;
    justify-content: center;
}

.what-we-do-content-inf i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #02B6A2;
}

.what-we-do-content-inf h3 {
    color: #02B6A2;
    margin-bottom: 10px;
}

.icon-what-we-do {
    width: 100%;
    margin: 30px 0;
}

.features-content {
    background-color: #3B474E;
    padding: 30px 19%;
}

.features-inf {
    display: flex;
    margin-top: 30px;
    color: white;
    justify-content: space-between;
    
}

.features-picture {
    width: calc((100% - 90px) / 3);
    line-height: 22px;
    
}

.features-picture h3 {
    padding: 20px 0;
}

.features-picture img {
    transition: all 0.4s ease;
}

.features-picture img:hover {
    transform: scale(1.05);
}

.Stay-in-touch {
    padding: 50px 19%;
}

.contact-inf {
    display: flex;
    line-height: 22px;
}

.contact-inf-left {
    width: 60%;
}

.contact-inf-right {
    width: 40%;
    margin-top: 30px;
    box-shadow: 1px 1px 15px #666;
}

.contact-inf-right-content {
    width: 100%;
    display: flex;
    padding: 15px;

}
.name {
    width: 50%;
    padding-right: 5px;
}
.email {
    width: 50%;
}
.contact-inf-right-content input {
    height: 39px;
    width: 100%;
    border: none;
    outline: none;
    box-shadow: 1px 1px 2px #666;
    background-color: #eeeeee;
}

.contact-inf-right-center {
    padding: 0 15px 30px 15px;
}

.contact-inf-right-center input {
    width: 100%;
    height: 150px;
    border: none;
    outline: none;
    box-shadow: 1px 1px 2px #666;
    background-color: #eeeeee;
}

.button-style { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px ;
    
}

.button-style button {
    font-size: 20px;
    padding: 15px;
    color: white;
    background-color: #02B6A2;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #666;
    text-transform: uppercase;
    transition: all 0.4s ease;
}

.button-style button:hover {
    transform: scale(1.05);
}

.end {
    background-color: black;
    color: white;
    display: flex;
    font-size: 15px;
    justify-content: space-around;
    padding: 60px;
    align-items: center;
}

.icon-end i{
    font-size: 40px;
    transition: all 0.4s ease;
}

.icon-end i:hover {
    transform: scale(1.2);
    color: rgb(87, 87, 231);
}